<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
            <p>
            <label for="username">smn</label>
            <input type="text" name="username">
        </p>

        <p>
            <input type="submit">
        </p>
    </form>


</body>
</html>